/********** General ***********/
:root {
	--main-color: #B1663C;
	--second-color: #1D6154;

}

body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans';
	font-size: 14px;
	background-color: #FFFEF8;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: var(--main-color)
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: var(--second-color)
}

/****** navbar ******/
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

nav li:has(a.active) {
	font-weight: 1000;
}

li:hover {
	color: var(--main-color);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: var(--second-color);
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

/****** footer *****/

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

